<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Retry download", controller: "welcome", action: "download_pdf"%>

<img src="app/assets/images/qrcode.png"></img>
